/*header settings across top of webpage*/
#header{
    width:100%;
    background: brown;
}
/*header content settings*/
#headerContent{
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    font-family: Arial, serif;
    font-size: large;
}
/*navigation bar background*/
#nav{
    width:100%;
    background-color: green;
}
/*navigation content button settings*/
#navContent{
    margin: 0 auto;
    text-align: left;
    font-family: Arial, serif;
    font-size: large;
}
/*navigation link settings*/
#navPages{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*un-ordered list settings*/
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

/*creates a 3 column 2 row grid to place div and aside inside of*/
.grid-container{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dimgrey;
    padding: 10px;
    gap: 10px 10px;
    margin-left: 150px;
    margin-right: 150px;
}
/*div box settings*/
.box{
    background-color: bisque;
    height: auto;
    width: auto;
    border: 1px solid;

}

.divHeader{
    font-size: larger;
    font-family: Arial, serif;
    background-color: grey;
}

.divContent{
    font-size: small;
    font-family: Arial, serif;
    min-height: 300px;
}

/*Aside settings*/
#aside{
    background-color: bisque;
    height: auto;
    width: auto;
    border: 1px solid;
    grid-row: 3/1;
    grid-column: 3;
}



.asideSection{
    border-bottom: 1px solid;
}

.secContent{
    min-height: 100px;
}

/*Footer settings*/
#footer{
    background-color: grey;
    padding: 10px;
}

.divFooter{
    font-size: small;
    font-family: Arial, serif;
    background-color: grey;
    margin-top: auto;
}